.card{
    margin-right: 10px;
    width:70px;
}
.product-body{
    background: #3c4009;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
   margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.product-view{
    margin-top: 10px;
    
}

.body-class{
    margin-top: 90px;
    text-align: center;
    border: 5px solid aqua;
 
    width: 80%;
position: absolute;

align-items: center;
/* background-color: #1abc9c; */

}
.list-father{
 display: flex;
 justify-content: center;
 
}
.list-father li{
    display: inline;
    float: left;
}
.card-img-top{
    height: 200px;
}
.tradeside{
align-items: center;
}
.quantity{
    border-radius: 3px;
    width: 70px;
    align-items: center;
}
.btBuy{
  float: right;
  background:linear-gradient(#2ecc71, #1abc9c);
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  margin-right: 10px;
}
.btSell{
    border-radius: 3px;
    width: 70px;
    float: left;
    margin-left: 10px;
    background-color: aqua;
}
.fortune{
    margin-top: 90px;
    background: linear-gradient(180deg,#2ecc71,#1abc9c);
   width: 100%;
 
}