.card{
    margin-right: 10px;
    width:70px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.body-class{
    text-align: center;
    border: 5px solid aqua;
    background: #9fa932;
    width: 90%;
position: absolute;
left: 5%;
align-items: center;

}
.list-father{

}
.list-father li{
    display: inline;
    float: left;
}
.card-img-top{
    height: 200px;
}
.tradeside{
align-items: center;
}
.quantity{
    border-radius: 3px;
    width: 70px;
    align-items: center;
}
.btBuy{
  float: right;
  background:linear-gradient(#2ecc71, #1abc9c);
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  margin-right: 10px;
}
.btSell{
    border-radius: 3px;
    width: 70px;
    float: left;
    margin-left: 10px;
}