<h1 style="text-align: center;">{{fortune|currency}}</h1>
<div class="body-class">

<ul class="list-father">
    <li *ngFor="let p of product; let i = index; " class="list-item">
    
            <div class="card" style="width: 21rem;">
                <img class="card-img-top" src="./assets/ps5.webp" alt="Card image cap">
                <div class="card-body">
                    <h1>{{p.name}}</h1>
                    <p class="price"> {{p.price|currency}}</p>
                    <p>{{p.buyQt}}</p>
                 
                </div>
                <div class="tradeside">
                    <button  disabled="disabled" class="btSell">Sell</button>
                    <input class="quantity" type="number" [(ngModel)]="quantity" max=4 min=1 value="1">
                    <button (click)="onSelected(p)" class="btBuy">Buy</button>
                    <!-- <button (click)="buy(p.price,p.buyQt)" class="btBuy">Buy</button> -->
                  
                </div>
            </div>
     
    </li>
</ul>



</div>